<div class="container-fluid mb-5">
  <div class="mb-3 pb-3 border-bottom d-flex justify-content-between" style="border-bottom-color: #ADADAD">
    <div class="d-flex align-items-center gap-3 fs-5">
      <b class="me-5">Location</b>
      <input type="text" placeholder="Location Name" class="form-control" [(ngModel)]="form.locationName" #searchInput (keydown.enter)="search()">
      <fa-icon [icon]="icons.faSearch" class="fw-light" (click)="search()"></fa-icon>
      <fa-icon [icon]="icons.faRefresh" class="fw-bold {{isLoading && 'fa-pulse'}}" (click)="refresh()"></fa-icon>
    </div>
    <button class="rounded px-4 border-0 text-white fw-bold" style="background-color: #CE9312" (click)="addLocation()">
      <fa-icon [icon]="icons.faSquarePlus" class="me-2"></fa-icon>
      Location
    </button>
  </div>
  <div class="row" style="display: grid; grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); gap: 1rem;">
    <ng-container *ngIf="!isLoading">
      <div class="col rounded-4 p-3 shadow-sm bg-white" *ngFor="let d of data | paginate: {id: 'data', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems}">
        <h5 class="fw-bold">{{ d?.location_name }}</h5>
        <p class="text-black-50">{{ d?.address }}</p>
        <div class="d-flex justify-content-between">
          <span style="font-weight: 500">Where you got your energy</span>
          <span style="cursor: pointer" class="fw-bold text-warning pe-auto" (click)="toDetailLocation(d.id)">See Details</span>
        </div>
        <div class="d-flex mt-3 gap-5">
          <ng-container *ngFor="let j of d?.power">
          <span class="d-flex flex-column" *ngIf="j?.power_name">
          <h4 class="fw-bold p-0 m-0" [style.color]="colorEnergy(j.power_name)">{{ +j.energy_generated || 0 }} %</h4>
          <span class="p-0 m-0">Your {{ j.power_name }}</span>
          </span>
          </ng-container>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="isLoading">
      <div class="col rounded-4 p-3 shadow-sm bg-white" *ngFor="let i of [1,2,3,4,5]">
        <ngx-skeleton-loader appearance="line" [theme]="{background: '#dcdcdc', width: '30%'}"></ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="line" [theme]="{background: '#dcdcdc', height: '40px'}"></ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="line" [theme]="{background: '#dcdcdc', height: '40px', width: '30%', 'margin-right': '10px'}"></ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="line" [theme]="{background: '#dcdcdc', height: '40px', width: '30%'}"></ngx-skeleton-loader>
        <ngx-skeleton-loader appearance="line" [theme]="{background: '#dcdcdc', height: '40px', width: '30%', 'margin-left': '10px'}"></ngx-skeleton-loader>
      </div>
    </ng-container>
  </div>
  <pagination-controls *ngIf="!isLoading" (pageChange)="pageChange($event)" id="data" previousLabel="" nextLabel="" class="d-flex justify-content-end mt-3"></pagination-controls>
</div>
